body{
    background-color: #bfd7ea;
}

.container{
    background-color:#0b3954;
}


h1, h2, h4{
    color:#fefffe;
    text-align:center;
}

.game-title{
    color:#0b3954;
}

#sub-head{
    font-size:1.5rem;
}

/* .push{
    margin-bottom: 40px;
} */

p{
    font-size:3rem;
    color:#fefffe;
    text-align: center;
}

