body{
    background-color: #bfd7ea;
}

.container{
    background-color:#0b3954;
    max-width: 800px;
    min-height: 350px;
}


h1, h2, h4{
    color:#fefffe;
    text-align:center;
}

hr{
    border-color:#fefffe8e;
}

.game-title{
    color:#0b3954;
}

#sub-head{
    font-size:1.5rem;
}

/* .push{
    margin-bottom: 100px;
} */

p{
    font-size:3rem;
    color:#fefffe;
    text-align: center;
}

