body{
    background-color: #bfd7ea;
}

.container{
    background-color:#0b3954;
    max-width: 700px;
    min-height: 370px;
    padding-top: 20px;
}


h1, h2, h4{
    color:#fefffe;
    text-align:center;
}

hr{
    border-color:#fefffe8e;
}

.game-title{
    color:#0b3954;
}

#sub-head{
    font-size:1.5rem;
}

/* .push{
    margin-bottom: 100px;
} */

p{
    font-size:3rem;
    color:#fefffe;
    text-align: center;
}

#mobile-keyboard{
    text-align: center;
}

#mobile-button{
    text-align: center;
    float:center;
}

@media (max-width: 500px) {
    h1{
        font-size:30px;
    }

    .display-4{
        font-size: 50px;
    }

    #sub-head{
        font-size:20px;
    }

    #wins-div, #losses-div, #guesses-div, #letterGuesses-div{
        font-size:30px;
    }

    .container{
        min-height: 280px;
    }
}

@media (max-width: 400px) {
    h1{
        font-size:25px;
    }

    /* .display-4{
        font-size: 45px;
    }

    #sub-head{
        font-size:15px;
    } */

    #wins-div, #losses-div, #guesses-div, #letterGuesses-div{
        font-size:25px;
    }

    .container{
        min-height: 260px;
    }
}

